<footer id="footer">

  <ul class="list-unstyled">
    <li class="float-end">
      <a href="#">Back to top</a>
    </li>
    <li>
      <a href="/api">API</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
  <ul class="list-unstyled">
    <li>Made by
      <a href="https://github.com/JoelEncinas" target="_blank">Joel</a>
    </li>
  </ul>

</footer>