<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">JS-RPG</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarColor01" style="">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item mx-2 py-2">
          <form action="/auth/logout" method="post">
            <button class="btn btn-outline-danger" type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>