<footer id="footer" class="mx-3">

  <ul class="list-unstyled">
    <li class="float-end">
      <a href="#">Back to top</a>
    </li>
  </ul>
  <ul class="list-unstyled">
    <li>Made by
      <a href="https://github.com/JoelEncinas" target="_blank">Joel</a>
    </li>
  </ul>

</footer>