  body {
    background-color: #0c0909 !important;
    color: #eeeeee !important;
  }

  p {
    margin: 0 !important;
  }

  .no-list {
    list-style-type: none;
    padding-left: 0;
  }

  /* LAYOUT */

  #player,
  #log,
  #enemy,
  #quests,
  #controls,
  #inventory {
    border: 1px solid #fff;
  }

  /* LOCATION */

  #location-text {
    font-size: 0.90rem;
  }

  #location-img {
    max-height: 100px;
    max-width: 480px;
    width: 100%;
  }

  /* LOG */
  #log {
    max-height: 400px;
    overflow-y: auto;
  }

  /* FOOTER */

  #optimal-resolution {
    font-size: 0.85rem;
  }

  #made-by {
    font-size: 0.75rem;
  }