<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/game.css" />
    <title>Game</title>
  </head>
  <body>

    <div id="game" class="container p-3">
      <h1 class="text-center">JS-RPG</h1>
      <p class="text-muted text-center fs-6 fst-italic">* Optimal Resolution
        768px x 700px or higher</p>

      <div id="stats-location" class="row my-2">
        <div id="character-stats" class="col-md-6">
          <p>Hp <span id="hit-points"></span></p>
          <p>Gold <span id="gold"></span></p>
          <p>Exp <span id="experience"></span></p>
          <p>Lv <span id="level"></span></p>
        </div>
        <div id="location" class="col-md-6">
          <p id="location-name">Alchemist's Garden</p>
          <p id="location-description">Many plants are growing here</p>
        </div>
      </div>

      <div id="inventory-log" class="row my-2">
        <div id="inventory" class="col-md-6">
          <table>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
            </tr>
            <tr>
              <td>Rusty Sword</td>
              <td>1</td>
            </tr>
          </table>
        </div>
        <div id="log" class="col-md-6">
          <div id="log-display">
            <p>You see a Rat here! </p>
            <p>You do 2 damage to the Rat</p>
          </div>
        </div>
      </div>

      <div id="quests-actions" class="row my-2">
        <div id="quests" class="col-md-6">

          <table>
            <tr>
              <th>Name</th>
              <th>Completed</th>
            </tr>
            <tr>
              <td>Clear the garden</td>
              <td>No</td>
            </tr>
          </table>
        </div>
        <div id="character-actions" class="col-md-6">
          <div id="character-movement">
            <button id="north">
              North
            </button>
            <button id="east">
              East
            </button>
            <button id="south">
              South
            </button>
            <button id="west">
              West
            </button>
          </div>
          <div id="character-actions">
            <select>
              <option value="Rusty sword">Rusty sword</option>
            </select>
            <button>Use</button>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP DEPENDENCIES -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.js"
    ></script>

    <!-- game engine -->
    <script src="js/game.js" type="module"></script>
  </body>
</html>