<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/game.css" />
    <title>Game</title>
  </head>
  <body>

    <div id="game" class="container p-3">
      <h1 class="text-center">Wyrm's Lair</h1>
      <p class="text-muted text-center fs-6 fst-italic">* Optimal Resolution
        768px x 700px or higher</p>

      <div id="stats-location" class="row my-2">
        <div id="character-stats" class="col-md-6">
          <p>Hp <span id="hit-points"></span></p>
          <p>Gold <span id="gold"></span></p>
          <p>Exp <span id="experience"></span></p>
          <p>Lv <span id="level"></span></p>
        </div>
        <div id="location" class="col-md-6">
          <p id="location-name"></p>
          <p id="location-description"></p>
        </div>
      </div>

      <div id="inventory-log" class="row my-2">
        <div id="inventory" class="col-md-6">
          <table id="inventory-table" class="table table-hover">
          </table>
        </div>
        <div id="log" class="col-md-6">
          <div id="log-display">
            <p>You wake up...</p>
          </div>
        </div>
      </div>

      <div id="quests-actions" class="row my-2">
        <div id="quests" class="col-md-6">
          <table id="quests-table" class="table table-hover">
          </table>
        </div>
        <div id="character-actions" class="col-md-6">
          <div id="character-movement">
            <div>
              <button id="west" class="btn btn-outline-dark">
                West
              </button>
            </div>
            <div>
              <button id="north" class="btn btn-outline-dark">
                North
              </button>
              <button id="south" class="btn btn-outline-dark">
                South
              </button>
            </div>
            <div>
              <button id="east" class="btn btn-outline-dark">
                East
              </button>

            </div>
          </div>
          <div id="character-actions">
            <div>
              <button
                id="vendor-btn"
                type="button"
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#vendor-modal"
              >
                Trade
              </button>

              <div
                class="modal fade"
                id="vendor-modal"
                tabindex="-1"
                aria-labelledby="vendor-modal-title"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="vendor-modal-title"></h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div id="vendor-player-inventory" class="col-6">
                          <table
                            id="vendor-player-table"
                            class="table table-hover"
                          >
                          </table>
                        </div>
                        <div id="vendor-vendor-inventory" class="col-6">
                          <table
                            id="vendor-vendor-table"
                            class="table table-hover"
                          >
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <p id="vendor-modal-location"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <select id="weapon-options" class="form-select">
              </select>
              <button
                id="weapon-btn"
                class="btn btn-outline-danger"
              >Use</button>
            </div>

            <div class="form-group">
              <select id="potion-options" class="form-select">
              </select>
              <button
                id="potion-btn"
                class="btn btn-outline-success"
              >Use</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP DEPENDENCIES -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.js"
    ></script>

    <!-- game engine -->
    <script src="js/game.js" type="module"></script>
  </body>
</html>