/* UTILS */
#log-display p {
  min-height: 24px;
  padding: 2px 0;
  font-size: 14px;
}

table {
  table-layout: fixed;
}

th {
  padding-bottom: 10px !important;
}

/* GAME */

#stats-location {
  height: 200px;
}

#inventory-log {
  height: 200px;
}

#quests-actions {
  height: 100px;
}

#log-display {
  height: 200px;
  overflow-y: scroll;
  padding: 10px 0;
}

#log-display p {
  margin: 0;
}
