/* UTILS */
#log-display p {
  min-height: 24px;
  padding: 2px 0;
}

p {
  font-size: 14px;
}

table {
  table-layout: fixed;
}

th {
  padding-bottom: 10px !important;
}

/* GAME_NAVBAR */

.link-form {
  margin-block-end: 0 !important;
}

/* GAME */

#location {
  height: 150px;
}

#inventory-quests {
  height: 350px;
}

#inventory {
  height: 200px;
  overflow-y: scroll;
}

#inventory-table tr:first-child td {
  padding-bottom: 8px;
}

#quests {
  height: 150px;
  overflow-y: scroll;
}

#quests-table tr:first-child td {
  padding-bottom: 8px;
}

#log {
  height: 350px;
}

#log-display {
  height: 340px;
  overflow-y: scroll;
  padding: 10px 0;
}

#log-display p {
  margin: 0;
}

#character-movement {
  display: flex;
  justify-content: center;
  align-items: center;
}

#north,
#west,
#south,
#east {
  width: 80px;
}

#north {
  margin-bottom: 15px;
}

#west {
  margin-right: 15px;
}

#east {
  margin-left: 15px;
}

#vendor-btn,
#craft-btn {
  height: 40px;
}

/* VENDOR MODAL */

#vendor-vendor-inventory,
#vendor-player-inventory {
  max-height: 200px;
  overflow-y: scroll;
}