/* UTILS */
#log-display p {
  min-height: 24px;
  padding: 2px 0;
}

p {
  font-size: 14px;
}

table {
  table-layout: fixed;
}

th {
  padding-bottom: 10px !important;
}

/* GAME */

#stats-location {
  height: 140px;
}

#inventory-log {
  height: 200px;
}

#inventory {
  overflow-y: scroll;
}

#quests-actions {
  height: 100px;
}

#log-display {
  height: 200px;
  overflow-y: scroll;
  padding: 10px 0;
}

#log-display p {
  margin: 0;
}

#character-movement {
  display: flex;
  justify-content: center;
  align-items: center;
}

#north,
#west,
#south,
#east {
  width: 80px;
}

/* VENDOR MODAL */

#vendor-vendor-inventory,
#vendor-player-inventory {
  max-height: 200px;
  overflow-y: scroll;
}
