/* NAVBAR */
#navbar-login-btn,
#navbar-register-btn {
  min-width: 70px;
  max-width: 80px;
}

/* INDEX */

#index-container {
  max-width: 768px;
}

/* AUTH */

#login-main,
#register-main {
  max-width: 576px;
  width: 100%;
  margin: auto;
}

/* FOOTER */

#footer {
  max-width: 768px;
  margin: auto;
}

#footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.float-end {
  float: right !important;
}
