/* UTILS */
.small {
  font-size: 10px;
}

@font-face {
  font-family: clacon;
  src: url(/fonts/clacon2.ttf);
}

body {
  font-family: clacon;
  line-height: 18px;
}


/* NAVBAR */

.navbar-brand img {
  width: 50px;
  border-radius: 50%;
}

#navbar-login-btn,
#navbar-register-btn {
  min-width: 70px;
  max-width: 80px;
}

/* INDEX */

#index-container {
  max-width: 768px;
}

/* AUTH */

#login-main,
#register-main {
  max-width: 576px;
  width: 100%;
  margin: auto;
}

/* FOOTER */

#footer {
  width: 100%;
}

#footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.float-end {
  float: right !important;
}